<div class="title-blue">
    Avisos legales
</div>
<br>
<form name="legaldata" action="#" class="form-gray notify-on-error" method="post" target="_top" id="formlegaldata">
    <div class="grid-container">
        <div class="grid-item">
            <div class="grid-container-s">
                <div class="grid-item">
                    <div class="item-corner">
                        <div class="checkbox-area">
                            <span class="checkbox required" data-index="{{id}}">
                                <i class="bbva-icon ui-checkmark"></i>
                            </span>
                            <span class="text">
                                &nbsp;<a href=""> Aviso de privacidad</a>
                            </span>
                            <p class='i-message'><span class='text-message'>&nbsp;</span></p>
                        </div>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="item-corner">
                        <div class="checkbox-area">
                            <span class="checkbox required" data-index="{{id}}">
                                <i class="bbva-icon ui-checkmark"></i>
                            </span>
                            <span class="text">
                                &nbsp;<a href=""> Términos y condiciones</a>
                            </span>
                            <p class='i-message'><span class='text-message'>&nbsp;</span></p>
                        </div>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="item-corner">
                        <div class="checkbox-area">
                            <span class="checkbox required" data-index="{{id}}">
                                <i class="bbva-icon ui-checkmark"></i>
                            </span>
                            <span class="text">
                                &nbsp;<a href=""> Consentimiento de uso de datos</a>
                            </span>
                            <p class='i-message'><span class='text-message'>&nbsp;</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="grid-container-s">
                <div class="grid-item">
                    <div class="item-corner">
                        <div class="checkbox-area">
                            <span class="checkbox required" data-index="{{id}}">
                                <i class="bbva-icon ui-checkmark"></i>
                            </span>
                            <span class="text">
                                &nbsp;<a href=""> Acepto mentor</a>
                            </span>
                            <p class='i-message'><span class='text-message'>&nbsp;</span></p>
                        </div>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="item-corner">
                        <div class="checkbox-area">
                            <span class="checkbox required" data-index="{{id}}">
                                <i class="bbva-icon ui-checkmark"></i>
                            </span>
                            <span class="text">
                                &nbsp;<a href=""> Uso de imagen</a>
                            </span>
                            <p class='i-message'><span class='text-message'>&nbsp;</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="submtbtn">
        <span title="Continuar" aria-label="Continuar" class="btn__basic btn__submit" id="btn_legal">
            <span aria-hidden="true">Aceptar</span>
        </span>
    </div>
</form>