<form name="form" action="#" class="form-gray notify-on-error" method="post" target="_top" id="form-biography">
    <div class="subtitle-sec">Acerca de m&iacute;</div>
    <div class="form-validation-group">
        <div class="form-group">
            <textarea class="form-control e-tooltip-f" name="textBiography" id="textBiography" data-placeholder="Biograf&iacute;a"
                rows="4" maxlength="350" data-tooltitle="Escribe tu informaci&oacute;n m&aacute;s relevante en breves palabras."
                required autocomplete="off">{{bio}}</textarea>
        </div>
    </div>
    <div class="subtitle-sec">Intereses</div>
    <div id="interests" class="check-required">
        <div class="grid-container">
            <div class="grid-item">
                <div class="grid-container-s s1"></div>
            </div>
            <div class="grid-item">
                <div class="grid-container-s s2"></div>
            </div>
        </div>
    </div>
    <div class="submtbtn t-right">
        <span title="Continuar" aria-label="Continuar" class="btn__basic btn__submit" id="btn_savebio">
            <span aria-hidden="true">Guardar</span>
        </span>
    </div>
</form>