<div class="content">
    <div class="container">
        <div class="card">
            <div class="step-container">
                <form name="cpassword" action="#" class="form-gray notify-on-error" method="post" target="_top" id="formcpassword">
                    <div class="card-pass">
                        <div class="grid-container">
                            <div class="grid-item instructions">
                                <div class="grid-container-s">
                                    <div class="grid-item">
                                        <div class="t-white-m">Cambio de contrase&ntilde;a</div>
                                        <img src="./images/microilustrations/strong_password.png" alt="">
                                        <div class="t-white-s">Tu contrase&ntilde;a debe contener:</div>
                                        <div class="vin"><i class="bbva-icon ui-list-bullet"></i> Longitud de 10
                                            car&aactute;cteres.</div>
                                        <div class="vin"><i class="bbva-icon ui-list-bullet"></i> Al menos un n&uacute;mero</div>
                                        <div class="vin"><i class="bbva-icon ui-list-bullet"></i> Al menos una letra
                                            may&uacute;scula</div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item">
                                <div class="grid-container-s">
                                    <div class="grid-item">
                                        <div class="form-validation-group">
                                            <div class="form-group">
                                                <input class="form-control" name="npassword" id="npassword" maxlength="10"
                                                    type="password" required autocomplete="off" data-placeholder="Nueva contrase&ntilde;a"
                                                    data-regex="PASS" oncopy="return false" onpaste="return false"
                                                    oncut="return false">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-item">
                                        <div class="form-validation-group">
                                            <div class="form-group">
                                                <input class="form-control" name="cpassword" id="cpassword" maxlength="10"
                                                    type="password" required autocomplete="off" data-placeholder="Confirma la contrase&ntilde;a"
                                                    data-regex="PASS" data-confirm="#npassword" oncopy="return false"
                                                    onpaste="return false" oncut="return false">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-item">
                                        <div class="grid-container">
                                            <div class="grid-item d-contents">
                                                <div class="submtbtn actionsection">
                                                    <span title="Regresar" aria-label="Regresar" class="btn__basic btn__clearbg"
                                                        id="btn_back_conf">
                                                        <i class="bbva-icon ui-arrow-left"></i>
                                                        <span aria-hidden="true">Regresar</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="grid-item d-contents">
                                                <div class="submtbtn actionsection">
                                                    <span title="Continuar" aria-label="Continuar" class="btn__basic btn__submit"
                                                        id="btn_send_pass">
                                                        <span aria-hidden="true">Enviar</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>