<div class="content">
    <div class="card accordeon">
        <div id="wf0" class="i-form accordion">
            <div class="step-header" data-target="my-biography">
                <div class="step-name">
                    <i class="bbva-icon ui-profile"></i>
                    1. Mi biograf&iacute;a
                </div>
                <div class="step-arrow">
                    <i class="bbva-icon ui-plus"></i>
                </div>
            </div>
            <div id="my-biography" class="step-container" style="display: none">
            </div>
        </div>
        <div id="wf1" class="i-form accordion">
            <div class="step-header" data-target="personal-data">
                <div class="step-name">
                    <i class="bbva-icon ui-id-card"></i>
                    2. Datos personales
                </div>
                <div class="step-arrow">
                    <i class="bbva-icon ui-plus"></i>
                </div>
            </div>
            <div id="personal-data" class="step-container" style="display: none">
            </div>
        </div>
        <div id="wf2" class="i-form accordion">
            <div class="step-header" data-target="scholarship-data">
                <div class="step-name">
                    <i class="bbva-icon ui-gradution-cap"></i>
                    3. Beca
                </div>
                <div class="step-arrow">
                    <i class="bbva-icon ui-plus"></i>
                </div>
            </div>
            <div id="scholarship-data" class="step-container" style="display: none">
                <div id="scholarship-informative"></div>
                <div id="deposits-pending"></div>
                <div id="deposits-table"></div>
            </div>
        </div>
        <div id="wf3" class="i-form accordion">
            <div class="step-header" data-target="scholar-data">
                <div class="step-name">
                    <i class="bbva-icon ui-receipt"></i>
                    4. Datos escolares
                </div>
                <div class="step-arrow">
                    <i class="bbva-icon ui-plus"></i>
                </div>
            </div>
            <div id="scholar-data" class="step-container" style="display: none">
            </div>
        </div>
        <div id="wf4" class="i-form accordion">
            <div class="step-header" data-target="domicile-data">
                <div class="step-name">
                    <i class="bbva-icon ui-home"></i>
                    5. Domicilio
                </div>
                <div class="step-arrow">
                    <i class="bbva-icon ui-plus"></i>
                </div>
            </div>
            <div id="domicile-data" class="step-container" style="display: none">
            </div>
        </div>
        <div id="wf5" class="i-form accordion">
            <div class="step-header" data-target="contact-data">
                <div class="step-name">
                    <i class="bbva-icon ui-book"></i>
                    6. Datos de contacto
                </div>
                <div class="step-arrow">
                    <i class="bbva-icon ui-plus"></i>
                </div>
            </div>
            <div id="contact-data" class="step-container" style="display: none"></div>
        </div>
        <div id="wf6" class="i-form accordion">
            <div class="step-header" data-target="tutor-data">
                <div class="step-name">
                    <i class="bbva-icon ui-executive"></i>
                    7. Datos del tutor
                </div>
                <div class="step-arrow">
                    <i class="bbva-icon ui-plus"></i>
                </div>
            </div>
            <div id="tutor-data" class="step-container" style="display: none"></div>
        </div>
        <div id="wf7" class="i-form accordion">
            <div class="step-header" data-target="settings-account">
                <div class="step-name">
                    <i class="bbva-icon ui-token"></i>
                    8. Configuraci&oacute;n de cuenta
                </div>
                <div class="step-arrow">
                    <i class="bbva-icon ui-plus"></i>
                </div>
            </div>
            <div id="settings-account" class="step-container" style="display: none">
                <div class="grid-container">
                    <div class="grid-item">
                        Usuario: <span class="label-val"> {{username}}</span>
                    </div>
                    <div class="grid-item">
                        <div class="submtbtn t-right">
                            <span title="Continuar" aria-label="Continuar" class="btn__basic btn__submit" id="btn_change_pass">
                                <span aria-hidden="true">Cambiar contrase&ntilde;a</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>