<div class="subtitle-sec">Estatus general</div>
<div class="grid-container">
    <div class="grid-item">
        <div class="grid-container-s">
            <div class="grid-item">
                Estatus de dispersi&oacute;n: <span class="status {{flag}} label-val">{{status}}</span>
            </div>
            <div class="grid-item">
                Estatus en el programa: <span class="label-val"> {{programStatus}}</span>
            </div>
            <div class="grid-item">
                Programa de beca: <span class="label-val"> {{program}}</span>
            </div>
        </div>
    </div>
    <div class="grid-item">
        <div class="grid-container-s">
            <div class="grid-item">
                Grado escolar: <span class="label-val"> {{schoolGrade}}</span>
            </div>
            <div class="grid-item">
                Convenio/Alianza: <span class="label-val"> {{modality}}</span>
            </div>
        </div>
    </div>
</div>