<form name="scholardata" action="#" class="form-gray notify-on-error" method="post" target="_top" id="formscholardata">
    <div class="subtitle-sec">{{actLevel}}</div>
    <div class="grid-container">
        <div class="grid-item">
            <div class="grid-container-s">
                <div class="grid-item">
                    Nombre: <span class="label-val">{{schoolName}}</span>
                </div>
                <div class="grid-item">
                    Domicilio: <span class="label-val">{{schoolDomicile}}</span>
                </div>
                <div class="grid-item">
                    Tipo de escuela: <span class="label-val">{{schoolType}}</span>
                </div>
                <div class="grid-item">
                    Siglas: <span class="label-val"> {{initials}}</span>
                </div>
                <div class="grid-item">
                    Control: <span class="label-val"> {{control}}</span>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="grid-container-s">
                <div class="grid-item">
                    CCT: <span class="label-val"> {{cct}}</span>
                </div>
                <div class="grid-item">
                    Estado: <span class="label-val"> {{schoolState}}</span>
                </div>
                <div class="grid-item">
                    Municipio: <span class="label-val"> {{schoolMunicipality}}</span>
                </div>
                <div class="grid-item">
                    Turno: <span class="label-val"> {{turn}}</span>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div id="university-info"></div>
</form>