<div class="subtitle-sec">Carrera</div>
<div class="grid-container">
    <div class="grid-item">
        <div class="grid-container-s">
            <div class="grid-item">
                Tipo de carrera: <span class="label-val"> {{typeOfCareer}}</span>
            </div>
            <div class="grid-item">
                Nombre de carrera: <span class="label-val"> {{careerName}}</span>
            </div>
            <div class="grid-item">
                &Aacute;rea: <span class="label-val"> {{area}}</span>
            </div>
        </div>
    </div>
    <div class="grid-item">
        <div class="grid-container-s">
            <div class="grid-item">
                Sub-&aacute;rea: <span class="label-val"> aaaaaaaa</span>
            </div>
            <div class="grid-item">
                Duraci&oacute;n: <span class="label-val"> {{duration}}</span>
            </div>
        </div>
    </div>
</div>