<div class="cards cards_notification">
    <div class="cards-base">
        <div class="container-notification">
                <i class="bbva-icon {{icon}}"></i>
          <label class="tittle">{{tittle}}</label>
          {{#pending}}
          <div class="pending-deposits">
            <label class="title-orange">Respuesta en proceso</label>
            <div>{{monthConfirm}} {{yearConfirm}}</div>
            <div>{{statusScholarshipReceived}}</div>
          </div>
          {{/pending}}
          <a href="#" class="scholarship_pending link">Ver todas las respuestas</a>
        </div>        
    </div>    
</div>