.modal {
    box-sizing: border-box;
    pointer-events: none;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    font-family: "BentonSansBBVA-Book", Helvetica, Arial, sans-serif;
    z-index: 9;
}

.modal[hidden],
.hidden {
    display: none !important;
}

.md-modal {
    position: relative;
    margin: auto;
    width: 95%;
    max-width: 71.25rem;
    min-width: 18.75rem;
    max-height: 95vh;
    z-index: 950;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
}

.modal[open]>.md-modal {
    opacity: 1;
    visibility: visible;
}

.modal[open] {
    overflow-y: auto;
    pointer-events: all;
}

.md-overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 900;
    opacity: 0;
    background-color: #121212;
    transition: all 0.3s;
}

.modal[open]>.md-overlay {
    opacity: 0.6;
    visibility: visible;
}

.md-wrapper {
    position: relative;
    background: #fff;
    border-radius: 1px;
}

.md-content {
    margin: 0 auto;
    max-height: 80%;
    padding: 1.25em 1em 1.875em;
}

.md-content__btn-close {
    z-index: 100;
    position: absolute;
    left: 1em;
    top: 1.25em;
}

.md-content__btn-close .icon-close {
    color: #2a86ca;
    cursor: pointer;
}

.md-onboarding_btn-close{
    z-index: 100;
    position: initial;
    left: 1em;
    top: 1.25em;
}
.md-onboarding_btn-close .icon-close {
    color: $bbva-white;
    cursor: pointer;
    font-size: 20px;
}
.modal[close-icon] .md-content {
    padding: 4.75em 1em 3.875em;
}

.md-content .text-header {
    color: #121212;
    margin: 0 0 0.75em;
    font-size: 1.5rem;
    letter-spacing: -0.6px;
    font-weight: 300;
    background-color: #fff;
}

.md-effect .md-wrapper {
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
    opacity: 0;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}

.modal[open] .md-effect .md-wrapper {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

@media (min-width: 768px) {
    .md-content {
        max-width: 90%;
        padding: 5.625em 0 5em;
    }

    .md-content__btn-close {
        left: auto;
        right: 1.5625rem;
        top: 1.5625rem;
    }

    .md-content .text-header {
        margin-bottom: 1.875em;
        font-size: 2.1rem;
        letter-spacing: -0.2px;
    }

    .md-content .buttons {
        margin-top: 1.875em;
    }

    .modal[close-icon] .md-content {
        padding: 5.625em 0 5em;
    }

}