.radio-tab{
    margin: 10px 0 20px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    font-size: 18px;
    font-weight: 600;
    color:  $bbva-500;
    height:  3.4375rem;
    background-color: $bbva-white;
    box-sizing: border-box;
    font-weight: normal;
    @include to(m){
        font-size: 15px;
    }
    label {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        height: 100%;
        cursor: pointer;
        border-bottom: 2px solid $bbva-400;
        outline: none;

        .tab-content {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            pointer-events: none;
        }

        &.active{
            color: $bbva-600;
            font-weight: 700;
        }
    }

    #indicator {
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 50%;
        height: 0.125rem;
        height: 2px;
        transition: -webkit-transform 0.2s;
        transition: transform 0.2s;
        transition: transform 0.2s, -webkit-transform 0.2s;
        background-color: $bbva-600;
        
        &.three{
            width: calc(100% / 3);
        }
    }
  }