<section>
    <h1 class="title-b onboarding">03 Tu papel como becario</h1>
    <div class="grid-container">
        <div>
            <div>
                <p class="t-auto">
                    Conoce las obligaciones y responsabilidades como becario de Fundación BBVA
                </p>
            </div>
            <br>
            <div style="height: 350px; overflow-x: auto;">
                <p class="pr-auto">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eius quis officia ipsam?
                    Eaque
                    repellat
                    est officia eum a libero, quia tempore odio similique eveniet vitae cum, reprehenderit, ut
                    quae!
                    <strong>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus eligendi neque culpa
                        alias sed,
                        sint a, in distinctio omnis, rem magni exercitationem corporis. Atque aliquid, excepturi
                        adipisci
                        quidem consequuntur odit?
                    </strong>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto mollitia voluptatem
                    dolore iste,
                    molestias, perspiciatis fugiat consequatur reiciendis atque enim accusamus excepturi?
                    Ratione enim,
                    sapiente quidem culpa nam iusto id!
                    <br>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita totam placeat labore ab quidem.
                    Accusamus ipsa nemo totam fugiat, itaque nam exercitationem rerum. Id eaque consequuntur
                    necessitatibus rerum labore. Earum?
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt, ducimus. Soluta, necessitatibus?
                    Natus, nobis eos numquam, doloremque eligendi quo qui officiis facere, dignissimos quam animi
                    dolores cupiditate inventore quibusdam. Molestiae.
                </p>
            </div>
        </div>
        <div class="alert">
            <div style="display: flex;">
                <div class="cards left">
                    <div class="container-notification">
                        <i class='bbva-icon ui-info'></i>
                    </div>
                </div>               
                Al finalizar confirmo que he leído y <br>
                acepto las responsabilidades de mi <br>
                papel como mentor en el programa de <br>
                Fundación BBVA
            </div>
        </div>
    </div>
    <div class="grid-container">
        <div style="margin-top: auto;">            
            <div class="link-text">Regresar</div>
        </div>
        <div class="actionsection">
            <div class="submtbtn onboarding">
                <span title="Finalizar" aria-label="Finalizar" class="btn__basic btn_acept btn_finalizar">
                    <span aria-hidden="true">Finalizar</span>
                </span>
            </div>
        </div>
    </div>
</section>