<section>
    <h1 class="title-b onboarding">01 Bienvenido becario</h1>
    <div class="content-bienvenido">
        <img src="images/microilustrations/vuelta al cole_mochila que se llena de utiles.png" alt="">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eius quis officia ipsam?
            Eaque
            repellat
            est officia eum a libero, quia tempore odio similique eveniet vitae cum, reprehenderit, ut
            quae!
            <strong>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus eligendi neque culpa
                alias sed,
                sint a, in distinctio omnis, rem magni exercitationem corporis. Atque aliquid, excepturi
                adipisci
                quidem consequuntur odit?
            </strong>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto mollitia voluptatem
            dolore iste,
            molestias, perspiciatis fugiat consequatur reiciendis atque enim accusamus excepturi?
            Ratione enim,
            sapiente quidem culpa nam iusto id!
        </p>
    </div>
    <div class="actionsection">
        <div class="submtbtn onboarding">
            <span title="Comenzar" aria-label="Comenzar" class="btn__basic btn_acept">
                <span aria-hidden="true">Comenzar</span>
            </span>
        </div>
    </div>
</section>