<section style="margin-top: 120px; margin-bottom: 80px">    
    <div class="grid-container">
        <div>
            <img class="center" src="images/microilustrations/Pesimistas 1.png" alt="Lo siento">
        </div>
        <div>
            <p class="t-center c-bold">
                Necesitas completar <br> el onboarding para continuar <br><br>
            </p>            
            <p class="t-center">
                Puedes completarlo ahora mismo <br> o regresar más tarde
            </p>
            <br><br>
            <div class="grid-container">
                <div style="text-align:center;">            
                    <span id="continuar" class="link-text">Continuar</span>
                </div>
                <div style="text-align:center;">            
                    <span id="ncontinuar" class="link-text">Intentar después</span>
                </div>
            </div>
        </div>
    </div>
</section>