<div class="title-red">
    {{title}}
</div>
<div class="step-container">
    <div class="icon-m icon-e"></div>
    <div class="grid-c">
        <div class="grid-item">
            <div class="message-modal">
                <div>{{message}}</div>
            </div>
        </div>
    </div>
    <div class="actionsection">
        <div class="submtbtn">
            <span title="Enviar" aria-label="Enviar" class="btn__basic btn_acept">
                <span aria-hidden="true">S&iacute;</span>
            </span>
            <span title="Enviar" aria-label="Enviar" class="btn__basic btn_decline">
                <span aria-hidden="true">Cancelar</span>
            </span>
        </div>
    </div>
</div>