<div class="cards qualif {{cards_after}}">
    <div class="cards-content">
        <div class="grid-item title-b">
            Infromaci&oacute;n de {{scholarLastLevel}}
        </div>
        <div class="separator-div"></div>
        <div class="grid-constancy tHead">
            <div><label>PROMEDIO GENERAL</label></div>
            <div><label>CERTIFICADO</label></div>
        </div>
        <div class="grid-constancy">
            <div><label>{{qualification}}</label></div>
            <div class="uploadfile" id="upboleta{{scholarLastLevel}}" style="display: {{certificate}}">
                <div class="wrapper">
                    <div class="message message_cards">
                        <span class="message__body">
                            <span class="show" data-folio="{{folio}}"><i class="ui-show"></i>{{text1}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>