<form>
    <div class="cards qualif {{cards_after}}">
        <div class="cards-content">
            <div class="grid-item title-b">
                Infromaci&oacute;n de {{scholarLastLevel}}
            </div>
            <div class="separator-div"></div>
            <div class="grid-constancy tHead">
                <div><label>PROMEDIO GENERAL</label></div>
                <div><label>CERTIFICADO</label></div>
            </div>
            <div class="grid-constancy">
                <div class="grid-container">
                    <div class="grid-item">
                        <div class="form-validation-group">
                            <div class="form-group">
                                <input class="form-control decimals e-tooltip-f" name="score{{scholarLastLevel}}" id="score{{scholarLastLevel}}"
                                    type="text" data-placeholder="Calificaci&oacute;n" data-scholarLastLevel="{{scholarLastLevel}}"
                                    data-level="{{schoolarLevel}}" value="{{qualification}}" data-iscore="{{qualification}}"
                                    data-boletaid="#boletaSec-{{scholarLastLevel}}" data-regex="PROM" data-tooltitle="La calificaci&oacute;n debe ser en una escala del 1 al 10 y puede tener hasta 2 decimales"
                                    required autocomplete="off">
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uploadfile empty openuploadfile" id="upcertificateempty{{scholarLastLevel}}" style="display: {{emptyCertificate}}">
                        <div class="wrapper">
                            <div class="message message_cards">
                                <span class="message__body">
                                    <span><i class="bbva-icon ui-filled-up"></i>{{text4}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="uploadfile" id="upcertificate{{scholarLastLevel}}" style="display: {{certificate}}">
                        <div class="wrapper">
                            <div class="message message_cards">
                                <span class="message__body">
                                    <span class="show" data-folio="{{folio}}"><i class="ui-show"></i>{{text1}}</span>
                                    <span class="replace openuploadfile"><i class="ui-edit"></i>{{text2}}</span>
                                    <span class="remove btn-delete-file" data-file="certificate" data-certificate="{{scholarLastLevel}}"><i
                                            class="ui-trash"></i>{{text3}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-block">
            <div class="actionsection cards_master">
                <div class="submtbtn sub_cards_master">
                    <span title="Continuar" aria-label="Continuar" class="btn__basic btn__submit btn__cards-small" id="save_last_qualif">
                        <span aria-hidden="true">Guardar</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>